<section>
    <ng-container *ngIf="!isLoading; else loading">
        <form (ngSubmit)="resetPassword()" [formGroup]="resetPasswordForm">
            <h1>{{ 'RESET_PASSWORD.TITLE' | translate }}</h1>
            <p>{{ 'RESET_PASSWORD.SUB_TITLE' | translate }}</p>
            <input type="text" name="username" class="d-none" />
            <mat-form-field appearance="fill">
                <mat-label>{{ 'RESET_PASSWORD.PASSWORD' | translate }}</mat-label>
                <input [type]="isPasswordHidden ? 'password' : 'text'" autocomplete="new-password" matInput formControlName="password" />
                <span class="registration-pass-icons" matSuffix aria-hidden="false">
          <mat-icon [matTooltip]="passwordToolTip">info_outline</mat-icon>
          <mat-icon
            matTooltip="{{
              isPasswordHidden ? 'Show Password' : 'Hide Password'
            }}"
            class="cursor-pointer"
            (click)="isPasswordHidden = !isPasswordHidden"
          >
            {{ isPasswordHidden ? 'visibility_off' : 'visibility' }}
          </mat-icon>
        </span>
                <mat-error *ngIf="resetPasswordForm.get('password').hasError('required')">
                    {{ 'RESET_PASSWORD.ERROR_PASSWORD' | translate }}
                    <strong>required</strong></mat-error>
                <mat-error *ngIf="resetPasswordForm.get('password').hasError('pattern')">
                    {{ 'RESET_PASSWORD.ERROR_PASSWORD_INVALID' | translate }}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>{{ 'RESET_PASSWORD.CONFIRM_PASSWORD' | translate }}
                </mat-label>
                <input [type]="isPasswordHidden ? 'password' : 'text'" autocomplete="new-password" matInput formControlName="confirmPassword" />
                <span class="registration-pass-icons" matSuffix aria-hidden="false">
          <mat-icon [matTooltip]="passwordToolTip">info_outline</mat-icon>
          <mat-icon
            matTooltip="{{
              isPasswordHidden ? 'Show Password' : 'Hide Password'
            }}"
            class="cursor-pointer"
            (click)="isPasswordHidden = !isPasswordHidden"
          >
            {{ isPasswordHidden ? 'visibility_off' : 'visibility' }}
          </mat-icon>
        </span>

                <mat-error *ngIf="f['confirmPassword'].touched && f['confirmPassword'].invalid">
                    <span *ngIf="f['confirmPassword'].errors['required']">{{ 'RESET_PASSWORD.ERROR_CONFIRM_PASSWORD' | translate }}
            <strong>required</strong></span
          >
          <span *ngIf="f['confirmPassword'].errors['confirmedValidator']">{{
            'RESET_PASSWORD.ERROR_CONFIRM_PASSWORD_INVALID' | translate
          }}</span>
                </mat-error>
            </mat-form-field>
            <button type="submit" mat-raised-button color="primary" class="mat-focus-indicator secondary-text primary-bg mat-button mat-button-base padding-12" [disabled]="resetPasswordForm.invalid || isAdding">
        {{ 'RESET_PASSWORD.RESET' | translate }}
      </button>
        </form>
    </ng-container>
</section>

<ng-template #loading>
    <div class="spinner-container">
        <mat-spinner></mat-spinner>
    </div>
</ng-template>