$theme-name: 'dark';
$primary: #b7b7b7;
$secondary: #181A1C;
$ternary: #DDD;
$light-primary: #a7a7a7;
$light-secondary: #444;
$light-ternary: #FFF;
$dark-primary: #828282;
$dark-secondary: #000;
$dark-ternary: #222;
$error: #f44336;