$theme-name: 'light';
$primary: #607D8B;
$secondary: #EFEFEF;
$ternary: #181A1C;
$light-primary: #859AA4;
$light-secondary: #FFF;
$light-ternary: #444;
$dark-primary: #294C5D;
$dark-secondary: #CBCBCB;
$dark-ternary: #0B1219;
$error: #f44336;
