<section>
    <form (ngSubmit)="sendResetLink()" [formGroup]="sendResetLinkForm">
        <h1>{{ 'FORGOT.TITLE' | translate }}</h1>
        <p>{{ 'FORGOT.SUB_TITLE' | translate }}</p>
        <mat-form-field appearance="fill">
            <mat-label>{{ 'FORGOT.EMAIL' | translate }}</mat-label>
            <input type="text" matInput formControlName="email" autocomplete="off" />
            <mat-icon matSuffix aria-hidden="false">person</mat-icon>
            <mat-error *ngIf="sendResetLinkForm.get('email').hasError('required')">
                {{ 'FORGOT.ERROR_RESET_LINK' | translate }} <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="sendResetLinkForm.get('email').hasError('pattern')">
                {{ 'FORGOT.ERROR_EMAIL_INVALID' | translate }}
            </mat-error>
        </mat-form-field>
        <button type="submit" mat-raised-button color="primary" class="mat-focus-indicator secondary-text primary-bg mat-button mat-button-base padding-12" [disabled]="sendResetLinkForm.invalid || isAdding">
      {{ 'FORGOT.SEND_EMAIL_LINK' | translate }}
    </button>
    </form>
</section>