/* You can add global styles to this file, and also import other style files */

@import 'theme/theme.scss';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
.d-none {
  display: none;
}
.spinner-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

section {
  form {
    button.padding-12 {
      padding: 12px;
    }
    div.text-center {
      text-align: center;
    }
  }
}

.padding-12 {
  padding: 12px;
}

.text-center {
  vertical-align: center;
}

.hidden {
  visibility: hidden;
}