<p>{{ 'PROJECTS.TITLE' | translate }}</p>
<br />
<a mat-button color="primary" routerLink="/home"
  >{{ 'MENU.BUTTON_HOME' | translate }}</a
>
<br />
<br />
<a mat-stroked-button color="accent" routerLink="/about"
  >{{ 'MENU.BUTTON_ABOUT' | translate }}</a
>
<br />
<br />
<a mat-raised-button color="accent" routerLink="/projects" disabled
  >{{ 'MENU.BUTTON_PROJECTS' | translate }}</a
>
<br />
<!-- "[REF-DASHBOARD-2] Adding translations"  -->
<br />
<ng-container *ngFor="let project of projects">
  <a mat-raised-button color="warn" routerLink="/projects/{{ project.id }}"
    >THE PROJECT {{ project.id }}</a
  ><br /><br />
</ng-container>
<div class="flexi-container">
  <span class="flexi-item"><app-pie-chart
  [chartDataValue]="dataValue"
  [chartDataLabels]="dataLabels"
  [chartTitle]="chartTitle"
>
</app-pie-chart></span>
  <span class="flexi-item">
    <!-- <app-mat-table [dataCostsData]="users"></app-mat-table> -->
  </span>
  <span class="flexi-item"><app-pdf-viewer></app-pdf-viewer></span>
</div>
<div></div>

