:host {
  mat-tree {
    mat-tree-node {
      span {
        cursor: pointer;
      }
    }
    .tree-node {
      .menu-btn {
        opacity: 0;
        transition: all 0.5s;
      }
    }
    .tree-node:hover .menu-btn {
      opacity: 1;
    }
  }
}
